@charset "utf-8";
@font-face {
  font-family: "DXHflL";
  src: url("../fonts/DXHflL.ttf");
}
@font-face {
  font-family: "DXHflM";
  src: url("../fonts/DXHflM.ttf");
}
@font-face {
  font-family: "DXHflB";
  src: url("../fonts/DXHflB.ttf");
}

:root {
  font-size: 24px;
  font-family: "DXHflL";
  color: #486284;
  --point_c: #486284;
  --basic_c: #fffffc;
  --btnColor1: #d95d5d;
  --btnColor2: #e89232;
  --btnColor3: #f2cf4c;
  --btnColor4: #bed649;
  --btnColor5: #73b4c2;
  --btnColor6: #a0c4ff;
  --btnColor7: #bdb2ff;
  --btnColor8: #e48ebe;
}
body {
  background-image: url("../assets/img_bg.jpg");
  background-repeat: repeat-y;
  background-position: top center;
  color: var(--point_c);
}
.App {
  overflow: hidden;
}
.mw {
  /* border: 1px solid red; */
  max-width: 1600px;
  width: calc(100% - 2rem);
  margin: 0 auto 2rem;
}

/* 헤더 영역 */
.hd {
  padding: 1.5rem 0 1rem;
  text-align: center;
  border-bottom: 1px solid var(--point_c);
}
.hd .logo img {
  width: 180px;
}
.hd .gnb {
  display: flex;
  justify-content: center;
}
.hd .gnb .facility,
.hd .gnb .visit {
  width: calc(100% / 2);
  font-size: 32px;
  color: var(--point_c);
}

/* Main 영역 */
.main {
  position: relative;
}
.mainTitle .mainbtn {
  font-family: "DXHflL";
  font-size: 24px;
  color: var(--point_c);
  outline: none;
  border: 1px solid var(--point_c);
  border-radius: 8px;
  padding: 0.25rem 1rem;
}
.main .rights {
  /* border: 1px solid red; */
  width: 100%;
  text-align: right;
  margin-top: 1.5rem;
  padding-right: 0.5rem;
  white-space: nowrap;
}

.swiper {
  width: 100%;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  /* border: 5px solid dodgerblue; */
  height: 50px;
  width: 150px;
  left: auto;
  bottom: auto;
  top: 80%;
  right: -2rem;
  transform: rotate(90deg);
}
.swiper-pagination-bullet {
  width: 0.5rem !important;
  height: 0.5rem !important;
  margin: 0.5rem 0 !important;
  background-color: var(--basic_c) !important;
  margin: 0 0.25rem !important;
}
.circleFlower {
  position: absolute;
  z-index: -10;
}
.circleFlower img {
  width: 100%;
}
.circleFlower1 {
  width: 50%;
  top: 12%;
  left: 0;
}
.circleFlower2 {
  width: 30%;
  top: -20%;
  right: -15%;
}

/* 시설검색 영역 */
.Facility {
  position: relative;
}

.secTitle {
  width: 340px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.secTitle h2 {
  font-size: 64px;
}
.secTitle p {
  margin: 1rem 0 6rem;
}
.secTitle img {
  width: 100%;
}

.nav-tabs {
  border: none;
  display: flex;
  justify-content: space-between;
}
.nav-item {
  width: calc(100% / 8 - 1rem);
  border-radius: 0.5rem;
  overflow: hidden;
}
.nav-item:nth-of-type(1) {
  border: 2px solid var(--btnColor1);
}
.nav-item:nth-of-type(2) {
  border: 2px solid var(--btnColor2);
}
.nav-item:nth-of-type(3) {
  border: 2px solid var(--btnColor3);
}
.nav-item:nth-of-type(4) {
  border: 2px solid var(--btnColor4);
}
.nav-item:nth-of-type(5) {
  border: 2px solid var(--btnColor5);
}
.nav-item:nth-of-type(6) {
  border: 2px solid var(--btnColor6);
}
.nav-item:nth-of-type(7) {
  border: 2px solid var(--btnColor7);
}
.nav-item:nth-of-type(8) {
  border: 2px solid var(--btnColor8);
}

#uncontrolled-tab-example-tab-seoul {
  color: var(--btnColor1);
}
#uncontrolled-tab-example-tab-gyeonggi {
  color: var(--btnColor2);
}
#uncontrolled-tab-example-tab-gangwon {
  color: var(--btnColor3);
}
#uncontrolled-tab-example-tab-chungcheong {
  color: var(--btnColor4);
}
#uncontrolled-tab-example-tab-jeolla {
  color: var(--btnColor5);
}
#uncontrolled-tab-example-tab-gyeongsang {
  color: var(--btnColor6);
}
#uncontrolled-tab-example-tab-jeju {
  color: var(--btnColor7);
}
#uncontrolled-tab-example-tab-MetCity {
  color: var(--btnColor8);
}

.nav-item .nav-link {
  width: 100%;
  height: 100%;
  text-align: center;
}
.nav-item .nav-link.active {
  border: none;
}
#uncontrolled-tab-example-tab-seoul.active {
  color: var(--basic_c);
  background-color: var(--btnColor1);
}
#uncontrolled-tab-example-tab-gyeonggi.active {
  color: var(--basic_c);
  background-color: var(--btnColor2);
}
#uncontrolled-tab-example-tab-gangwon.active {
  color: var(--basic_c);
  background-color: var(--btnColor3);
}
#uncontrolled-tab-example-tab-chungcheong.active {
  color: var(--basic_c);
  background-color: var(--btnColor4);
}
#uncontrolled-tab-example-tab-jeolla.active {
  color: var(--basic_c);
  background-color: var(--btnColor5);
}
#uncontrolled-tab-example-tab-gyeongsang.active {
  color: var(--basic_c);
  background-color: var(--btnColor6);
}
#uncontrolled-tab-example-tab-jeju.active {
  color: var(--basic_c);
  background-color: var(--btnColor7);
}
#uncontrolled-tab-example-tab-MetCity.active {
  color: var(--basic_c);
  background-color: var(--btnColor8);
}

.tab-content {
  /* border: 1px solid blue; */
  margin-left: 360px;
}

/* Detail 영역 */
.breadcrumbs a {
  display: inline-block;
}
.breadcrumbs a::after {
  content: ">";
  padding: 0 0.5rem;
}

.areaInfo {
  /* border: 1px solid green; */
  margin-top: 2rem;
  position: relative;
}
.areaInfo h2,
.NearbyArea h2,
.HospitalInfo h2 {
  position: absolute;
  top: -1rem;
  left: 0;
  font-size: 1.5rem;
  border: 1px solid var(--btnColor5);
  background-color: var(--btnColor5);
  border-radius: 16px 50px 50px 0;
  color: var(--basic_c);
  padding: 0.25rem 1.5rem;
}
.areaCon {
  padding: 2rem;
  background-color: #fffffc80;
  border-radius: 16px;
}
.infoWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.areaCon_list {
  margin-top: 1rem;
  /* border: 1px solid green; */
  flex-grow: 1;
  margin-left: 4rem;
}
.areaCon_list li {
  border-bottom: 1px dashed #48628450;
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
}
.areaCon_list li:nth-of-type(6) {
  display: flex;
  align-items: flex-start;
}
.areaCon_list li > p {
  width: calc(100% / 4);
  text-align: center;
}
.areaCon_list li > span,
.areaCon_list li div {
  padding-left: 1rem;
}
.listTitle {
  font-size: 1.75rem;
  padding: 0 1rem;
  position: relative;
}
.listTitle::before {
  content: "";
  border-left: 3px solid var(--point_c);
  position: absolute;
  top: 50%;
  left: 0;
  width: 3px;
  height: 20%;
  transform: translateY(-50%);
}
.areaCon_list p strong {
  font-family: "DXHflM";
  font-size: 1.2rem;
}

/* 모바일 레이아웃 영역 */
@media (min-width: 651px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .mainTitle {
    width: 340px;
    margin-right: 1rem;
  }
  .mainTitle h2 {
    font-size: 64px;
  }
  .mainTitle .mainText {
    padding-bottom: 1rem;
  }

  .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden.mySwiper.slideCon {
    /* border: 1px solid red; */
    height: 600px;
    width: calc(100% - 360px - 1rem);
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
  }
  .imgCon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: -50%;
    transform: translateY(50%);
  }
}

@media (max-width: 650px) {
  .swiper {
    margin-top: 2rem;
  }
  .slideCon {
    width: 100%;
    /* display: none !important; */
  }
  .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden.mySwiper.slideCon {
    height: 400px;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
  }
  .imgCon img {
    width: 100%;
    height: 100%;
  }

  .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    /* border: 5px solid dodgerblue; */
    height: 50px;
    width: 150px;
    left: auto;
    bottom: auto;
    top: 65%;
    right: -2rem;
    transform: rotate(90deg);
  }
  .swiper-pagination-bullet {
    width: 0.4rem !important;
    height: 0.4rem !important;
    margin: 0.5rem 0 !important;
    background-color: var(--basic_c) !important;
    margin: 0 0.25rem !important;
  }
  .circleFlower1 {
    width: 80%;
    top: 30%;
    left: -20%;
  }
  .circleFlower2 {
    width: 60%;
    top: 0;
    right: -30%;
  }

  /* Detail 영역 */
  .areaCon {
    display: block;
  }
}
@media (max-width: 400px) {
  .hd .logo img {
    width: 120px;
  }
  .hd .gnb {
    margin-top: 1rem;
  }
  .hd .gnb .facilities,
  .hd .gnb .visit {
    font-size: 24px;
  }
  .mainTitle h2 {
    font-size: 32px;
  }
  .mainTitle .mainText {
    padding-bottom: 0.5rem;
  }
  .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden.mySwiper.slideCon {
    height: 230px;
  }
  .circleFlower1 {
    width: 90%;
    top: 40%;
    left: -40%;
  }
  .circleFlower2 {
    width: 70%;
    top: 15%;
    right: -30%;
    transform: rotate(60deg);
  }
  .main .rights {
    font-size: 1rem;
    padding: 1rem 0 0;
  }
}
